
.open-sans-normal{
  font-family: "Open Sans";
  font-optical-sizing: auto;
  
    
}
/*shard style*/
.text-primary{

color:#FD6E0A;

}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color: #FFF8F3;
}




.btn-primary{
    background-color: #FD6E0A; 
    border: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}

.header{

    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}


/*Nav styles */
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;

}
.section-title{
font-size: 35px;
font-weight: bold;
color: #181818;

}
.section-description{
font-size: 18px;
color: #757575;

}
nav ul{
    display: flex;
align-items: center;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul li{
   align-items: end;
    list-style: none;
    margin-right: 50px;
}
.fox{
display: flex;
    style: none;
    margin: 0 10px;
    padding-left: 850px;
padding-top: 56px;
}
.nav-title{
    font-size:45px;
    font-weight: 800px;
  
}
.banner{
    display: flex;
    justify-content:space-between ;
    margin: 0px 35px opx 230px ;
}
.banner-content{
max-width: 580px;
text-decoration: none;
align-items: center;
padding-left: 183px;

}

.banner-greetings{
font-size:45px ;
font-weight: 600px;
}
.main{
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    margin-top: 130px;
}
.about{
border-radius: 10px;


}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{

}
.item-description{
    font-weight: bold;
}
.item-title{
    color: ;
}

