
.open-sans-normal{
  font-family: "Open Sans";
  font-optical-sizing: auto;
  
    
}
/*shard style*/
.text-primary{

color:#FD6E0A;

}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color: #FFF8F3;
}
#mango{
    width: 100%;
    border: none;
    color:#757575;
    padding-top: 30px;
    padding-left: 20px;
}



.btn-primary{
    background-color: #FD6E0A; 
    border: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}

.header{

    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}


/*Nav styles */
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 200px;

}
.section-title{
font-size: 35px;
font-weight: bold;
color: #181818;

}
.section-description{
font-size: 18px;
color: #757575;

}
.text-center{
text-align: center;

}
nav ul{
    display: flex;
align-items: center;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul li{
   align-items: end;
    list-style: none;
    margin-right: 50px;
}
.fox{
display: flex;
    style: none;
    margin: 0 10px;
    padding-left: 850px;
padding-top: 56px;
}
.nav-title{
    font-size:45px;
    font-weight: 800px;
  
}
.banner{
    display: flex;
    justify-content:space-between ;
    margin: 0px 35px opx 230px ;
}
.banner-content{
max-width: 580px;
text-decoration: none;
align-items: center;
padding-left: 183px;

}

.banner-greetings{
font-size:45px ;
font-weight: 600px;
}
.main{
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    margin-top: 130px;
}
.about{
border-radius: 10px;
padding: 130px 150px;
text-align: center;
margin-top: 130px;


}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{

}
.item-description{
    font-weight: bold;
}
.item-title{
    color: ;
}

.text-center{
text-align: center;

}
.skills-container{
display: flex;
gap: 24px;


}
.main section{
margin-top: 130px;
margin-bottom: 130px;

}
.skill{

    padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
border-radius: 5px;

}
.resume-container{
    display: flex;
    gap: 25px;
}
.resume-column{
    text-align: left;

}
.resume-column-p{
    text-align: justify;
}
.experience-description,experience-sub-title{
    color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-download-cv{
margin-top: 50px;

}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[Type="text"], footer input[type="email"],footer textarea[type=message] {
    height: 64px;
border-radius: 5px;
background-color:white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 25px;
border: none;
}
    
